:root{
    /* --gradient: repeating-linear-gradient(36deg, rgb(154, 154, 154), rgb(255, 255, 255), rgb(154, 154, 154) 20px); */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    width:"100vw";
    height:"100vh";
    background: black;
}

.TFont1{
    font-family: "Chiron GoRound TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    display: inline-block; /* needed for transform to work */
    transform: scaleY(1);
    font-style: normal;
    font-size: 4rem;
    letter-spacing: 0.1em;
    color: rgb(215, 215, 215);
    background: transparent;
    text-shadow: 5px 5px 0px black;
}

::-moz-selection {
    color: rgb(0, 98, 255);
    background: rgb(183, 183, 183);
}

/* Code for other browsers */
::selection {
    color: rgb(0, 98, 255);
    background: rgb(183, 183, 183);
}


.TIME{
    position: fixed;
    inset: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}